/* .Animated-Radial-Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f363e;
}*/
.Animated-Radial-Menu .menuu {
  position: fixed;
  width: 280px;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
      top: 40em;
    left: 15.7em;
        z-index: 99;
}
.Animated-Radial-Menu .menuu .togggle {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #2f363e;
  border: 2px solid #fff;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  font-size: 2em;
  transition: transform 0.5s;
}
.Animated-Radial-Menu .menuu li {
  position: absolute;
  left: 0;
  list-style: none;
  transition: 0.3s;
  transition-delay: calc(0.04s * var(--i));
  transform: rotate(0deg) translateX(110px);
  transform-origin: 140px;
}
.Animated-Radial-Menu .menuu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  color: var(--clr);
  border: 2px solid var(--clr);
  border-radius: 50%;
  font-size: 1.5em;
  transform: rotate(calc(-45deg * var(--i)));
  transition: 0.3s;
}
.Animated-Radial-Menu .menuu li a:hover {
  background: var(--clr);
  color: #333;
  box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr), 0 0 50px var(--clr);
}
.Animated-Radial-Menu .menuu.active .togggle {
  transform: rotate(315deg);
}
.Animated-Radial-Menu .menuu.active li {
  transform: rotate(calc(45deg * var(--i))) translateX(0px);
  z-index: 99;
  border-radius: 50%;
    background: #fff;
}


@media only screen and (min-width: 600px) {
 .mobile-menu2 {
    display:none;
  }
}